body {
    margin: 0;
    padding: 0;
    background: #F8F8F8;
}

@font-face {
    font-family: 'TT Lakes';
    src: url("fonts/TTLakes-Regular.woff") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url("fonts/TTLakes-Medium.woff") format('truetype');
    font-weight: 500;
    font-style: normal;
}

.page-name {
    margin: 0;
    display: flex;
    background: linear-gradient(to right, #F8F8F8, #FCFCFC, #FFFFFF);
    width: auto;
    height: 56px;
    padding: 16px 32px;
    align-items: center;
}


.page-name::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgb(217, 255, 245);
    pointer-events: none;
}

.page-name p {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #7E7E82;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.brands__list {
    background-color: #F8F8F8;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    column-gap: 32px;
    padding: 24px 32px;

}

.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    width: 240px;
    height: 72px;
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
}

.brand-logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    transition: 0.2s;
}

.brand-btn img {
    width: 100%;
    height: auto;
}

button:active {
    opacity: 0.2;
}

button:hover {
    opacity: 0.5;
}

.toggle-btn {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1B1C21;
    margin: 0;
    padding-left: 8px;
}

.show-hide {
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.samsung-logo {
    width: 128px;
    height: 38px;
    padding: 0;
}

.sony-logo {
    width: 128px;
    height: 25px;
    padding: 0;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    padding: 0;
}

.rotated {
    transform: rotate(180deg);
    padding: 0;
}

@media (max-width: 1119px) and (min-width: 768px) {
    .brands__list.swiper-wrapper {
        display: flex;
        column-gap: 24px;
        padding: 24px 24px;
    }

    .page-name {
        padding: 16px 24px;
    }

    .brands__list .brand:nth-child(7),
    .brands__list .brand:nth-child(8),
    .brands__list .brand:nth-child(9),
    .brands__list .brand:nth-child(10),
    .brands__list .brand:nth-child(11) {
        display: none;
    }

    .brands__list.long-list .brand:nth-child(7),
    .brands__list.long-list .brand:nth-child(8),
    .brands__list.long-list .brand:nth-child(9),
    .brands__list.long-list .brand:nth-child(10),
    .brands__list.long-list .brand:nth-child(11) {
        display: flex;
    }

    .brand {
        width: 224px;
    }

}

.brands__list .brand:nth-child(9),
.brands__list .brand:nth-child(10),
.brands__list .brand:nth-child(11) {
    display: none;
}

.brands__list.long-list .brand:nth-child(9),
.brands__list.long-list .brand:nth-child(10),
.brands__list.long-list .brand:nth-child(11) {
    display: flex;
}


.swiper-pagination {
    display: none;
}
@media (max-width: 320px) {

    .swiper-pagination {
        position: static;
        display: block;
    }
    .page-name {
    padding: 16px;
    }

    .swiper {
        box-sizing: border-box;
        padding: 16px;
    }


    .swiper-pagination-bullet-active {
        background: #B5B6BC
    }

    .swiper-pagination-bullet {
        background: #ddd;
        width: 12px;
        height: 12px;
    }


    .show-hide {
        display: none;
    }

    .brand {
        /*чтобы слайды не прятались на мобиле*/
        display: flex !important;
    }

    .brands__list {
        flex-wrap: nowrap;
        gap: 0;
        column-gap: 0;
        padding: 0;
    }
}




